/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}



.clear {
  clear: both;
}

/* Posititoning Classes */

.shadow-1{
  display: inline-block;
  float: left;
  width: 66%;
  margin-bottom: 2%;
}

.shadow-2{
  display: inline-block;
  width: 33%;
  margin-left: 1%;
  margin-bottom: 2%;
}

.shadow-3{
  display:block;
  float: left;
  width: 33%;
  margin-bottom: 10px;
}

.shadow-4{
  display: inline-block;
  float: left;
  width: 33%;
  margin-bottom: 10px;
}

.shadow-5{
  display: block;
  float: left;
  width: 33%;
  margin-bottom: 10px;
}


.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}
